<!DOCTYPE html>
<html>
<head>
  <title>LocaleNew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="bg3.jpg">

  <nav class="N/A transparent">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down ">
        <li><a href="sass.html">Hotels</a></li>
        <li><a href="components.html">Restaurants</a></li>
        <li><a href="javascript.html">Shopping</a></li>
        <li><a href="javascript.html">Attractions</a></li>
      </ul>
      <ul class="right">
        <li><a href="">Login</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>
    <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
  </nav>

<%= yield %>

</body>
</html>
